# App
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=flashsale
DB_PASSWORD=flashsale123
DB_NAME=flash_sale_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=change-this-in-production-please
JWT_EXPIRES_IN=7d

# BullMQ
QUEUE_CONCURRENCY=5

# Seeder
SEED_COUNT_USERS=100
SEED_COUNT_PRODUCTS=50
SEED_COUNT_SALES=10
